@model LoginViewModel

<div class="container">
    <h2>Giriş Yap</h2>

    <form asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email" class="form-control" asp-for="Email" required style="width: 300px;"/>
        </div>

        <div class="form-group">
            <label for="Password">Şifre</label>
            <input type="password" id="Password" name="Password" class="form-control" asp-for="Password" required style="width: 300px;"/>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" id="RememberMe" class="form-check-input" asp-for="RememberMe" />
            <label class="form-check-label" for="RememberMe">Beni Hatırla</label>
        </div>

        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>

    <hr />

    <div>
        <p>Hesabın yok mu? <a asp-action="Register">Kayıt Ol</a></p>
    </div>
</div>

