<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ETradeDemo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/account">My Account</a>
                    </li>
                </ul>
                
                <a class="nav-link text-dark" asp-controller="Card" asp-action="Index">
                    <i class="fas fa-shopping-cart"></i> Basket <span id="cartItemCount"></span>
                </a>

            </div>
        </div>
    </nav>
</header>
